.border-default-200 {
  border-color: #c20e4d;
  border-width: 1px;
}

:hover.border-default-200 {
  border-color: #c20e4d;
  background-color: #fee7ef;
}

.group[data-focus="true"]
  .group-data-\[focus\=true\]\:border-default-foreground {
  border-color: #c20e4d;
}
