@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

.btn-custom {
  background-color: transparent !important;
}

.bg-case {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 0.5rem;
}

.bg-case1 {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.5rem;
}

.police {
  font-family: "Inika", system-ui, serif;
}

.case1 {
  margin: 0.2rem 0.5rem 0.5rem 0.2rem;
}

.case2 {
  margin: 0.2rem 0.2rem 0.5rem 0.5rem;
}

.case3 {
  margin: 0.5rem 0.5rem 0.2rem 0.2rem;
}

.case4 {
  margin: 0.5rem 0.2rem 0.2rem 0.5rem;
}

.case5 {
  width: 49%;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
}

.btn-edit {
  background-color: #c20e4d !important;
  color: white !important;
  width: 18%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
