/* filtre - BOUTIQUE */
.title-filtre {
  font-family: 'Inika', system-ui, serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* checkbox - BOUTIQUE */
span::before {
  border-color: #c20e4d !important;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

.label-checkbox {
  font-family: 'Imprima', system-ui, sans-serif;
  font-weight: 400;
}
