.text-custom {
  margin-top: 2% !important;
  margin-bottom: 8% !important;
}

u {
  font-weight: 700;
  text-underline-offset: 2px;
  vertical-align: middle;
  margin-right: 4%;
}

.btn-color {
  background-color: #c20e4d !important;
  color: white !important;
  width: 35% !important;
  margin-left: 30% !important;
  margin-top: 17% !important;
}
